name: build check
on:
  pull_request:

permissions:
  actions: read
  attestations: read
  checks: read
  contents: read
  deployments: read
  discussions: read
  id-token: write
  issues: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  pre-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "reviewdog"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}

  flake-lock-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/flake-checker-action@main

  build-check-matrix:
    needs: [flake-lock-check]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm", "macos-15-intel", "macos-26"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dorny/paths-filter@v3
        id: change
        with:
          filters: |
            nix:
              - "**.nix"
              - "flake.lock"

      - uses: wimpysworld/nothing-but-nix@main
        if: runner.os  == 'Linux'
        with:
          hatchet-protocol: "rampage" # Options: holster, carve, cleave (default), rampage
          root-safe-haven: "8192"

      - uses: actions/checkout@v6
        if: steps.change.outputs.nix == 'true'

      - uses: DeterminateSystems/nix-installer-action@v21
        if: steps.change.outputs.nix == 'true'
        with:
          extra-conf: |
            accept-flake-config = true
            connect-timeout = 15
            cores = 2
            http-connections = 25
            max-jobs = 2
            stalled-download-timeout = 15

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: cachix/cachix-action@v16
        if: steps.change.outputs.nix == 'true'
        with:
          name: misumisumi
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          skipPush: true

      - name: Remove unused packages of macos
        if: runner.os == 'macOS'
        run: |
          df -h
          # shellcheck disable=SC2046
          brew uninstall --force $(brew list)
          brew cleanup

          sudo rm -rf /Applications/Xcode.app
          sudo xcode-select --reset
          sudo rm -rf /Library/Developer/CommandLineTools
          sudo rm -rf ~/Library/Developer/Xcode
          df -h

      - name: Build check
        uses: gacts/run-and-post-run@v1
        if: steps.change.outputs.nix == 'true'
        with:
          run: nix run github:Mic92/nix-fast-build  -- --no-link --no-nom --result-file result.json
          post: jq -r '.results[] | select(.success==false) | .attr' result.json

  build-check-summary:
    runs-on: ubuntu-latest
    needs: [pre-workflow, build-check-matrix]
    steps:
      - name: build-check-success
        if: needs.build-check-matrix.result == 'success'
        run: |
          exit 0
      - name: build-check-failed
        if: needs.build-check-matrix.result != 'success'
        run: |
          exit 1

  post-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    needs: build-check-summary
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "build-check"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}
