name: push cachix
on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  push-cachix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: change
        with:
          base: ${{ github.ref }}
          filters: |
            nix:
              - "**.nix"
              - "flake.lock"

      - uses: easimon/maximize-build-space@master
        if: steps.change.outputs.nix == 'true'
        with:
          root-reserve-mb: 8192
          swap-size-mb: 1024
          build-mount-path: "/nix/store"
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
            connect-timeout = 15
            cores = 2
            http-connections = 25
            max-jobs = 2
            stalled-download-timeout = 15

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: cachix/cachix-action@v16
        if: steps.change.outputs.nix == 'true'
        with:
          name: misumisumi
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build check
        if: steps.change.outputs.nix == 'true'
        run: nix run github:Mic92/nix-fast-build  -- --no-link --no-nom
