name: update repository
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 18 * * 5" # runs weekly on Saturday at 03:00 (JST)

permissions: read-all

jobs:
  update-repo:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'misumisumi'
    steps:
      - uses: actions/checkout@v6

      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Setup git account
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Update package version
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          TEMP=$(mktemp -u)
          nix run nixpkgs#nvfetcher -- -c pkgs/packages.toml -l "${TEMP}"
          nix run nixpkgs#nvfetcher -- -c pkgs/zotero-addons/addons.toml -o pkgs/zotero-addons/_sources -v

          if [ "$(grep snack "${TEMP}")" != "" ]; then
            pushd pkgs/apps/snack
            eval "$(nix build .#snack.passthru.fetchPatch --print-out-paths --no-link)"
            popd
          fi
          if [ "$(grep wavesurfer "${TEMP}")" != "" ]; then
            pushd pkgs/apps/wavesurfer
            eval "$(nix build .#wavesurfer.passthru.fetchPatch --print-out-paths --no-link)"
            popd
          fi

      - name: Update node package version
        run: |
          pkgs/node-packages/generate.sh

      - name: Update yarn hash
        run: |
          scripts/update-yarn-lock.sh

      - name: Update README
        run: |
          scripts/update-readme.sh

      - name: Commit updated file
        run: |
          git commit -a -m "chore(nvfetcher): auto update package version"

      - uses: DeterminateSystems/update-flake-lock@v28
        id: update
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-msg: "chore(flake.lock): auto update flake.lock"
          pr-title: "chore(flake.lock): auto update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated
